body {
  margin: auto;
  background-color: black;
  color: rgb(14, 146, 14);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#title {
  font-size: 4vw;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;
}

#ownerName {
  font-size: 3vw;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;
}

.button {
  font-size: 3vh;
  background-color: rgb(14, 146, 14);
  display: block;
  margin: 40px auto;
  width: auto;
  border: none;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
}

.google.button {
  width: 200px;
}
#burger-img {
  width: 20vw;
  display: block;
  margin: 0 auto;
}

#instructions {
  background-color: transparent;
  border: none;
}

.modal-header {
  background-color: black;
}

.modal-title {
  color: rgb(238, 44, 44);
  font-size: 26px !important;
  text-shadow: -1.5px -1.5px 0 blue, 1.5px -1.5px 0 blue, -1.5px 1.5px 0 blue, 1.5px 1.5px 0 blue;
}

.modal-body {
  background-color: black;
  /* background-image: url("./images/graphicstock.jpg"); */
  background-image: url("./images/restaurant.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(238, 44, 44);
  font-size: 23px;
  text-shadow: -1.5px -1.5px 0 darkblue, 1.5px -1.5px 0 darkblue, -1.5px 1.5px 0 darkblue, 1.5px 1.5px 0 darkblue;
}

.modal-footer {
  background-image: url("./images/money.gif");
  background-size: 20%;
  background-repeat: repeat-x;
  height: 100px;
  background-color: black;
}

.modal-footer button {
  background-color: blue;
}

#editRestaurantList {
  background-image: url("./images/greenPixels.jpg");
  font-family: "Press Start 2P", cursive;
}

#deleteRestaurantList {
  background-image: url("./images/redBlack.jpg");
  font-family: "Press Start 2P", cursive;
  
}

.ui.segment {
  /* background-color: brown;
  background-image: url("./images/bluePurple.jpeg"); */
  background-color: transparent;
}

.description {
  color: white !important;
  font-family: "Press Start 2P", cursive;

}

.header {
  color: white !important;
  font-size: 30px;
  margin-bottom: 12px !important;
  margin-top: 6px;
}

