body {
  margin: auto;
  background-color: black;
  color: rgb(14, 146, 14);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#title {
  font-size: 4vw;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;
}

#ownerName {
  font-size: 3vw;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;
}

.button {
  font-size: 3vh;
  background-color: rgb(14, 146, 14);
  display: block;
  margin: 40px auto;
  width: auto;
  border: none;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
}

.google.button {
  width: 200px;
}
#burger-img {
  width: 20vw;
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 3vw;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;
}

#instructions {
  background-color: transparent;
  border: none;
}

.modal-header {
  background-color: black;
}

.modal-title {
  color: rgb(238, 44, 44);
  font-size: 26px !important;
  text-shadow: -1.5px -1.5px 0 blue, 1.5px -1.5px 0 blue, -1.5px 1.5px 0 blue, 1.5px 1.5px 0 blue;
}

.modal-body {
  background-color: black;
  /* background-image: url("./images/graphicstock.jpg"); */
  background-image: url("./images/restaurant.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(238, 44, 44);
  font-size: 23px;
  text-shadow: -1.5px -1.5px 0 darkblue, 1.5px -1.5px 0 darkblue, -1.5px 1.5px 0 darkblue, 1.5px 1.5px 0 darkblue;
}

.modal-footer {
  background-image: url("./images/money.gif");
  background-size: 20%;
  background-repeat: repeat-x;
  height: 100px;
  background-color: black;
}

.modal-footer button {
  background-color: blue;
}

#editRestaurantList {
  background-image: url("./images/greenPixels.jpg");
  font-family: "Press Start 2P", cursive;
}

#deleteRestaurantList {
  background-image: url("./images/redBlack.jpg");
  font-family: "Press Start 2P", cursive; 
}

.ui.segment {
  background-color: transparent;
}

.description {
  color: white !important;
  font-family: "Press Start 2P", cursive;
}

.header {
  color: white !important;
  font-size: 25px;
  margin-bottom: 18px !important;
  font-family: "Press Start 2P", cursive !important;
}

.ui.horizontal.segments {
  background-color: rgb(128, 255, 213);
  font-family: "Press Start 2P", cursive;
}

#balance {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: rgb(6, 190, 190);
  color: yellow;
  font-size: 2.5vw;
  text-shadow: -1.5px -1.5px 0 rgb(6, 190, 190), 1.5px -1.5px 0 rgb(6, 190, 190), -1.5px 1.5px 0 rgb(6, 190, 190), 1.5px 1.5px 0 rgb(6, 190, 190);
}

#prevBalance {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: red;
  font-size: 2vw;
  text-shadow: -1.5px -1.5px 0 yellow, 1.5px -1.5px 0 yellow, -1.5px 1.5px 0 yellow, 1.5px 1.5px 0 yellow;
}

#dollarSign-img {
  height: 3vw;
}

#container {
  margin-top: 35px;
  margin-bottom: 30px;
}

#wrapper {
  margin-top: 40px;
}


#dailyMssg {
  /* height: 100px; */
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vw;
  color: rgb(220, 211, 240);
  text-align: center;
  /* padding: 30px; */
}

.dailyMssg {
  /* height: 100px; */
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vw;
  color: rgb(226, 237, 28);
  text-align: center;
}

.totalProfit {
  color: red;
  font-size: 1.5vw;
  font-family: "Press Start 2P", cursive;
}

.profitAmnt{
  font-size: 2vw;
  font-family: "Press Start 2P", cursive;
  text-shadow: -1.5px -1.5px 0 yellow, 1.5px -1.5px 0 yellow, -1.5px 1.5px 0 yellow, 1.5px 1.5px 0 yellow;
}

.endBalance {
  font-family: "Press Start 2P", cursive;
  color: rgb(40, 22, 201);
  color: red;
  font-size: 1.5vw;
}

.endingAmnt {
  font-size: 2vw; 
  font-family: "Press Start 2P", cursive;
  text-shadow: -1.5px -1.5px 0 yellow, 1.5px -1.5px 0 yellow, -1.5px 1.5px 0 yellow, 1.5px 1.5px 0 yellow;
}

.runGame {
  color: black;
  width: auto;
  font-size: 2vw;
  display: block;
  margin: 40px auto;
  border: none;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  background-image: url("./images/greenPixels.jpg");
}

/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: 50px 50px;}
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: 50px 50px;}
}
@keyframes         bg-scrolling {
  0% { background-position: 50px 50px; }
}

/* Main styles */
body {
  /* img size is 50x50 */
  background: url("https://github.com/zomg830/pots-and-plans/blob/aadvbranch/test/testlogic/B.png?raw=true") repeat 0 0 ;
  
  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
  
  
}

