body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#title{
  font-size: 6vw;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: rgb(14, 146, 14);
}
.button{
  font-size: 3vh;
  background-color: rgb(14, 146, 14);
  display: block;
  margin: 40px auto;
  width: 200px;
  border: none;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
}
#burger-img{
  width: 20vw;
  display: block;
  margin: 0 auto;
}
